body {
    background-color: lightskyblue;
    color: black;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    padding: 0 250px 0 250px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#one {
    background-color: lightskyblue;
    color: black;
}

#two {
    background-color: lightskyblue;
    color: black;
}

#three {
    background-color: lightskyblue;
    color: black;
}

#Header {
    text-align: center;
    padding: 25px;
}

.body {
    margin: 0em;
}

.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    overflow-y: auto;
    z-index: 0;
    background-color: hsl(0,0%,100%);
}

    .page:target {
        left: 0vw;
        z-index: 1;
    }

ul {
    list-style-type: none;
    text-decoration: none;
}